body {
    background-image: url("https://image.freepik.com/free-photo/blue-sky-background-with-tiny-clouds_23-2148178057.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  